<footer class="footer bg-dark pt-5">
    <div class="container">
      <div class="row pb-2">
        <div class="col-md-4 col-sm-6">
          <div class="widget widget-links widget-light pb-2 mb-4">
            <h3 class="widget-title text-light">BLOGSNTECH </h3>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="widget widget-links widget-light pb-2 mb-4">
           <a href="#" class="btn-market btn-apple" role="button">
             <span class="btn-market-subtitle">Download on the</span>
             <span class="btn-market-title">App Store</span>
           </a>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="widget widget-links widget-light pb-2 mb-4">
           <a href="#" class="btn-market btn-google" role="button">
            <span class="btn-market-subtitle">Download on the</span>
             <span class="btn-market-title">Google Play</span>
           </a>
          </div>
        </div> 
      </div>
    </div>
    <div class="pt-5 bg-darker">
      <div class="container">
        <div class="row pb-3">
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Venez découvrir</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Faire un don</h6>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1"> Disponible 24/7 </h6>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 mb-4">
            <div class="d-flex"><i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
              <div class="ps-3">
                <h6 class="fs-base text-light mb-1">Toujours partager</h6>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr-light mb-5">
        <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a class="text-light" href="/" target="_blank" rel="noopener">BLOGSNTECH</a></div>
      </div>
    </div>
  </footer>

</body>
</html>