<%- include('../master/header') -%> 

<div class="container mt-4">
    <h1 class="warning">Ce site est réserveur aux vendeurs ou l'administration. 
        Merci de bien vouloir quitter au cas contraire</h1>
    <div class="alert alert-danger col-lg-6">
        <p>Désoler vous etes pas autoriser a accéder se site. 
            Si vous déja inscrit merci de contacter l'administrateur 
            au <mark class="email">admin@gmail.com</mark> ou par téléphone au 
            <mark>782777140</mark> pour valider pour inscription si 
            vous voulez devenir un vendeur.</p>
    </div>
</div>

<%- include('../master/footer') -%> 