<%- include('../master/header') -%> 
<div class="form-group container col-lg-5">
    <form  action="/api/createcategorie" method="post">
        <label for="">Nom</label>
        <input class="form-control mb-2" type="text" name="nom">
        <button class="btn btn-primary">Ajouter</button>
    </form>
</div>
